p{
    font-size: 1.2em;
}

i{
    font-family: FontAwesome;
    font-style: normal;
}

#yash-head p{
    font-size: 1em;
}

.yash-header{border-bottom: 1px solid #cccccc;margin-bottom: 20px;display: block;}

.yash-header .yash-header-buttons{
    width: 30%;
    display: inline;
    clear: both;
}

/* This needs to be hidden until the db has something saved in the church ID field. */
.yash-header-buttons a{
    margin-left: 20px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
    float: right;
    margin-top: 2em;
}

.yash-header-buttons a:hover, 
.yash-affiliate-section a#yash-affiliate-button:hover{
    color: #fff;
    background-color: #2271b1;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 2px;
    line-height: normal;
    cursor: pointer;
}

.yash-header-buttons .dashicons, .yash-header-buttons .dashicons-before:before{
    font-size: 1.4em;
    vertical-align: middle;
}

#yash-body h1{
    padding-bottom: 12px;
    margin-top: 1em;
    display: inline-block;
    text-align: left;
}

.yash-content-wrap{
    padding: 0px 20px 0px 0px;
    width: 98%;
    display: block;
}

#yash-body p.yash-description{
    font-size: 1.75em;
    margin: 0px;
}

.yash-content-left{
    width: 65%;
    float: left;
}

.yash-content-left-wrap{
    padding: 0px 20px 0px 0px;
}

.yash-content-left-wrap h2{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
    border-left: 6px solid;
    padding: 5px;
    border-bottom: solid 1px;
}

.yash-content-right{
    width: 35%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 15px -10px #00000040;
    float: left;
}

.yash-content-right-wrap{
    padding:10px 25px;
}

.yash-content-right h2{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
    border-left: 6px solid;
    padding: 5px;
    border-bottom: solid 1px;    
}

iframe{
    padding-top: 10px;
}



/* This is the styling for the affiliate section and should disappear if the db has something saved in the church ID field. */
.yash-affiliate-section{
    border-left: 5px solid #4caf50;
    background-color: #e7ffcb;
    padding: 10px;
    width: 95%;
}

.yash-affiliate-section p{
    display: inline;
}

.yash-affiliate-section a#yash-affiliate-button {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
}

/* This should show up after activation. It would be ideal to check and see if the db has something saved in the church ID field then it shows this notice */
.yash-important-note p{
    border-left: 5px solid #ff9800;
    background-color: #fff0d9;
    padding: 10px;
    width: 95%;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 3%;
}

.yash-shortcode-table tr { background-color: #fff;}

.yash-shortcode-table{width: 100%;}

.yash-shortcode-table th{text-align: left; background-color:#2271b1; color:#fff;}



#yash-church-id{
    padding: 10px 0;
}

#yash-church-id input{
    margin:5px 0px;
    width: 100%;
    font-size: 1.5em;
}

#yash-church-id #church-id-button{
    margin:5px 0px;
    width: 100%;
    font-size: 1.5em;
    padding: 15px 0;
    color: #fff;
    background-color: #4caf50;
    text-decoration: none;
    border: 1px solid #4caf50;
    border-radius: 2px;
    line-height: normal;
    cursor: pointer;
}

#yash-church-id #church-id-button:hover{
    border: 1px solid #2271b1;
    color: #2271b1;
    background: #f6f7f7;
    cursor: pointer;
}